body
{
    background-color: rgb(34, 236, 41);
    font-family: 'Young Serif', serif;
}

.title
{
    background-color: cornsilk;
    padding: 10px;
}

h1{
    color:rgb(85, 85, 234);
}

#showsketch
{
    margin-top: -60px !important;
    float: right;
}

canvas
 {
    border:5px solid white;
    border-radius: 20px;
    animation-name: exemple;
    animation-duration: 5s;
    margin-top: 50px;
    animation-iteration-count: infinite;
 }

 @keyframes exemple {
     
    from {box-shadow: 1px 1px 38px blue;}
    to {box-shadow:1px 1px 38px white ;}
 }

p 
{
    padding-top: 10px;
    font-size: 25px;
}